@import "../common.scss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .bhiwandi-card {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1em;
    border-bottom: 20px solid #00b5f0;
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    .bhiwandi-name {
      font-size: 1.5em;
    }
    .bhiwandi-title {
      font-size: 2em;
    }
    .bhiwandi-text {
      font-size: 0.89em;
    }
    .bhiwandi-button {
      width: 80%;
      padding: 0.5em;
      border-radius: 10px;
      border: none;
      background-color: #00b5f0;
      color: white;
    }
    .bhiwandi-line-icon {
      display: flex;
      padding: 0.5em;
      gap: 1em;
    }
  }
  .second-bhiwandi {
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border-top: 5px solid #00b5f0;
    border-bottom: 8px solid #00b5f0;
  }
  .bhiwandi-img-container {
    width: 10em;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border-top: 5px solid #00b5f0;
    border-bottom: 8px solid #00b5f0;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bhiwandi {
  width: 60%;
  height: 90%;
  margin: auto;
  overflow-y: auto;
}

.bhiwandi-container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.25);
  background-image: url("https://images.unsplash.com/photo-1690321607902-d97c4b909a23?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5NzE4ODU4fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  scrollbar-color: #333333;
  position: relative;
  overflow-y: auto;
}

.bhiwandi-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (width <= 1024px) {
  .bhiwandi {
    width: 70%;
  }
  .swiper-slide {
    overflow-y: auto;
    .bhiwandi-card {
      width: 80%;
      height: auto;
      .bhiwandi-name {
        font-size: 1.5em;
      }
      .bhiwandi-title {
        font-size: 2em;
      }
      .bhiwandi-text {
        font-size: 0.89em;
      }
      .bhiwandi-button {
        width: 100%;
      }
    }

    .second-bhiwandi {
      width: 100%;
    }
    .bhiwandi-container {
      height: fit-content;
    }
  }
}
@media (width <= 834px) {
  .bhiwandi {
    width: 95%;
  }
  .swiper-slide {
    overflow-y: auto;
    .bhiwandi-card {
      width: 100%;
      height: fit-content;
      .bhiwandi-name {
        font-size: 1.5em;
      }
      .bhiwandi-title {
        font-size: 2em;
      }
      .bhiwandi-text {
        font-size: 0.89em;
      }
      .bhiwandi-button {
        width: 100%;
      }
    }

    .second-bhiwandi {
      width: 100%;
    }
    .bhiwandi-container {
      height: fit-content;
    }
  }
}
