.portfolio-summary {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1690321607902-d97c4b909a23?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5NzE4ODU4fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  scrollbar-color: #333333;
  scrollbar-width: thin;
  position: relative;
}
.portfolio-summary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portfolio-summary-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  gap: 3em;
}

.portfolio-summary-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .portfolio-summary-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
  }
}

#main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
}

#main-container-active {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: scroll;
}

.portfolio-summary-content-container {
  border-radius: 10px;
  height: 37.5em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(30px);
  overflow: hidden;
  gap: 2em;
  background: rgba(56, 53, 53, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  .portfolio-summary-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    h2 {
      font-family: "montserrat";
      font-weight: bold 600;
      font-size: 1.25em;
    }
    img {
      width: 1.3em;
    }
    .city-container .city1 {
      display: flex;
    }
  }

  .city-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
  }
}

.portfolio-summary-content-container-1 {
  width: 60%;
  height: 70vh;
  gap: 1em;
  padding: 1em;
  border: 1px;
}
.city-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  .city1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    .city1-box {
      height: 1em;
      width: 1em;
    }
    p {
      font-size: 0.8em;
    }
  }
}
@media (width<834px) {
  #main-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-summary-content-container {
    width: 90%;
    height: 42vh;
    padding: 2em;
    object-fit: contain;
    .portfolio-summary-heading {
      h2 {
        font-size: 0.7em;
      }
      img {
        width: 1em;
      }
    }
  }
  .city-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    .city1 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      .city1-box {
        height: 1em;
        width: 1em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }

  .portfolio-summary-text {
    .portfolio-summary-img {
      display: none;
    }
  }
}
